[Desktop Entry]
Name=Elektra Editor
Name[pt]=Editor do Registro
Name[pt_BR]=Editor do Registro
Comment=GUI to edit the Elektra Key Database
Comment[pt]=Editor grafico do Linux Registry
Comment[pt_BR]=Editor grafico do Linux Registry
Icon=system-config-kickstart.png
Exec=/usr/bin/kdbe
Type=Application
Terminal=false
Encoding=UTF-8
X-Desktop-File-Install-Version=0.4
Categories=X-Red-Hat-Base;System;Application;
